* {
  margin: 0;
  padding: 0;
}

.sidebar {
  border: 3px solid green;
  grid-row: 1 / 3;
}

.header {
  border: 3px solid pink;
}

.content-container {
  border: 3px solid blue;
}

.layout-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

ul {
  list-style-type: none;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
}

.sidebar-nav ul {
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: center;
  row-gap: 10px;
}

.sidebar-nav img {
  height: 1rem;
  justify-self: center;
}

img[alt^="Dashboard"] {
  height: 2rem;
}